.btn {
  border: none;
  background-color: transparent;
  color: darkblue;
  cursor: pointer;
  /* transition: all 550ms; */
  border-bottom: 0 solid darkblue;
  transition: all 150ms;
  &:hover {
    border-bottom-width: 2px;
  }
}
